@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff'); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url('../assets/img/bg.jpg') center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  /* margin-bottom: 168px; */
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: '\2713';
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/svg/play.svg');
}

.pause {
  background-image: url('../assets/svg/pause.svg');
}

.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url('../assets/svg/reload.svg');
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

/* playe */
.slider-sound {
  height: 10px;
  margin-top: 50px;
  transform: rotate(270deg);
  cursor: pointer;
}

.play-sound {
  visibility: hidden;
}

.play-sound > input[type='range'] {
  width: 100px;
}

.play-time {
  display: flex;
  justify-content: space-between;
}

.player-wrapper {
  display: flex;
  flex-direction: column;
}

.player-art {
  display: flex;
  justify-content: center;
}

.player-settings {
  visibility: hidden;
}

.image-wrapper {
  width: 120px;
  height: 169px;
}

.image-animation {
  visibility: hidden;
  opacity: 0;
}

.image-inner {
  margin-top: 25px;
}

.image-border {
  visibility: hidden;
  width: 126px;
  height: 130px;
  border: solid white;
  border-radius: 5%;
}

.image-animation.active {
  transition: all 5s ease;
  opacity: 1;
}

.image-animation.active.second {
  visibility: visible;
}

/* Кнопка Настройок*/
.settings {
  width: 100%;
}

.settings-body {
  display: flex;
  justify-content: start;
}

.settings-border {
  display: block;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  cursor: pointer;
  transition: border 1s;
}

.settings-border:hover {
  border: 2px solid yellowgreen;
}

.settings-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-left: 2px;
  margin-top: 2px;
}
.setting-icon {
  width: 40px;
  height: 40px;
}

/* Модальное окно */
.popup {
  margin-top: 20px;
  display: flex;
}

.popup-body {
  display: none;
  width: 300px;
  height: 200px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  transition: all 1s ease;
}

.popup-close {
}

.popup-inner {
  max-width: 280px;
  margin: auto;
}

.close {
  position: absolute;
  right: 12px;
  width: 22px;
  height: 22px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  content: ' ';
  height: 28px;
  width: 2px;
  background-color: rgb(245, 240, 240);
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.popup-name {
}

.settings-name {
}

.language-wrapper {
  margin-top: 15px;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.btn-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 102px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.btn-toggle:before {
  content: 'en ua';
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.btn-toggle:checked {
  background-color: #4cd964;
}

.btn-toggle:checked:before {
  left: 72px;
}

.popup-background {
  margin-top: 15px;
}

.popup-active {
  display: block;
  transition: all 1s ease;
}

.radio-btn {
  margin-top: 10px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* хайд  */
.player-settings.active {
  visibility: visible;
}

.image-border.active {
  visibility: visible;
}

.play-sound.active {
  visibility: visible;
}

.sound-wrapper {
}

.sound-mic {
  margin-top: 50px;
}

.sound-img {
  width: 20px;
  height: 30px;
  cursor: pointer;
}

input[type='range']#music {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type='range']#music::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  box-shadow: 0px 0px 0px #000000;
  background: #3071a9;
  border: 0px solid #000000;
}

input[type='range']#music::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 21px;
  width: 18px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

#volume {
  background: linear-gradient(
    to right,
    #d17878 20%,
    #ffffff 20%,
    #fff 50%,
    #fff 100%
  );
  border: solid 1px #82cfd0;
  border-radius: 8px;
  outline: none;
  -webkit-appearance: none;
}

.radio-button {
  cursor: pointer;
}
